# Куда фронт шлёт API-запросы (из браузера)
VITE_API_URL=http://localhost:4000

# Сеть и контракт для фронта
VITE_CHAIN_ID=31337
VITE_CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3

# Админы (через запятую, checksum или lowercase)
VITE_ADMIN_ADDRESSES=0xdD2FD4581271e230360230F9337D5c0430Bf44C0