# root
.DS_Store

# Node/JS общие
node_modules/
dist/
build/
coverage/
*.log
npm-debug.log*

# frontend
frontend/node_modules/
frontend/dist/

# backend
backend/node_modules/
backend/dist/

# hardhat
contracts/artifacts/
contracts/cache/
contracts/typechain-types/

# prisma
backend/prisma/dev.db
backend/prisma/dev.db-journal

# docker
docker-data/