# Prisma / MySQL
DATABASE_URL=mysql://root:pass@mysql:3306/onlinecasino

# Backend server
PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# Chains (локальная 31337 и Sepolia 11155111)
CHAIN_ID_DEFAULT=31337

# локальная сеть / hardhat
RPC_URL_31337=http://localhost:8545
CONFIRMATIONS_31337=0
START_BLOCK_31337=0
CONTRACT_ADDRESS_31337=0x5FbDB2315678afecb367f032d93F642f64180aa3

# sepolia 
# RPC_URL_11155111=https://sepolia.infura.io/v3/<key>
# CONTRACT_ADDRESS_11155111=0xYourSepoliaAddress

# Сколько подтверждений ждать при подтверждении /confirm
CONFIRMATIONS_DEFAULT=0